body, .htmlPage
{
    height: 100%;
    margin: 0;
    background-color:#144cff;
}

h1
{
    text-align: center;
}

p
{
    font-weight: bold;
    line-height: 20pt;
}

.nav {
    overflow: hidden;
    background-color: #651ffe;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
  }
  
  .nav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .nav a:hover {
    background: #79e2dd;
    color: #f2f2f2;
  }

#home
{
    display: grid;
    margin: -20px;
    grid-template-columns: repeat(2, minmax(0, 1fr));;
    height: 100%;
    background-color: #144cff;
}

#homePicture
{
    background-image: url("home.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 105%;
    margin-left: 2%;
}

#homeContent
{
    text-align: center;
    margin: auto;
    width: 50%;
    color: #ffffff;
    text-shadow: 2px 2px #651ffe;
}

#homeButton
{
    background-color: #651ffe;
    border: none;
    color: #fafafa;
    margin-top: 5%;
    padding: 5% 20%;
    font-size: 16px;
    border-radius: 8px;
}

/* sign in */
.signInModal
{
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    justify-content: center;
    align-items: center;
    display: none;
}

.modal-content
{
    width:  300px;
    height: 300px;
    background-color: white;
    border-radius: 4px;
    text-align: center;
    padding: 30px;
    position: relative;
}

.input
{
    width: 80%;
    display: black;
    margin: 50px auto;  /* distance between two input box */
}

.btn {
    background-color: #651ffe;
    color: white;
    padding: 10px 10px;
    border: none;
    cursor: pointer;
    width: 100px;
    margin-bottom:10px;
    opacity: 0.8;
    margin-right: 5px;
    margin-left: 5px;
  }

#closeSignIn
{
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 42px;
    transform: rotate(45deg);
    cursor: pointer;
}

/* main page */
#logout
{
    float: right;
}

#main
{
    background-color: white;
}

/* data page */
#canvas
{
    text-align: center;
}

.iframe
{
    background: "#FFFFFF";
    border: "none";
    border-radius: "2px";
    box-shadow: "0 2px 10px 0 rgba(70, 76, 79, .2)";
}

#flashStats
{
    text-align: center;
}

/* bug page */
/*body {
    background-color: #fff
}*/
form
{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 50%
}

.container {
    /* margin not work */
    padding-top: 50px;
    padding-bottom: 10px;
    background-color: #eef2f5;
    width: 400px;
}

.addtxt {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 13px;
    width: 350px;
    background-color: #e5e8ed;
    font-weight: 500
}

.form-control: focus {
    color: #000
}

.second {
    width: 350px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 10px 10px 5px #aaaaaa
}

.text1 {
    font-size: 13px;
    font-weight: 500;
    color: #56575b
}

.text2 {
    font-size: 13px;
    font-weight: 500;
    margin-left: 6px;
    color: #56575b
}

.text3 {
    font-size: 13px;
    font-weight: 500;
    margin-right: 4px;
    color: #828386
}

.text3o {
    color: #00a5f4
}

.text4 {
    font-size: 13px;
    font-weight: 500;
    color: #828386;
    margin-left: 3px;
}

.text4i {
    color: #00a5f4
}

.text4o {
    color: white
}

.thumbup {
    font-size: 13px;
    font-weight: 500;
    margin-right: 5px
}

.thumbupo {
    color: #17a2b8
}